label {
  display: block;
  margin-top: 10px;
}

body {
  margin: 0px;
  heigth: 100%;
}

h1 {
  text-align: center;
}

.judge-card-container{
  flex: 0 0 33.333%;
  display: flex;
  padding: 40px 40px;
  background: #fff;
  margin: 2px;
}

.judge-card {
  box-shadow: 0 1px 1rem -4px #000;
  flex: 0 0 100%;
  border-radius: 6px;
  display:flex;

}

.big-card-container.card {
  width: 500px !important;
  padding: 40px 40px;
  background: #fff;
  height: 725px !important;
}

.card-container.card {
  width: 450px !important;
  padding: 40px 40px;
  background: #fff;
  height: 600px !important;
}

.card {
  background: #fff;
  color: #333;
  display: flex;
  border-radius: 6px;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  box-shadow: 0 1px 1rem -4px #000;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/*navbar css*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap:25px;
}

#toggler ,
  .navbar label {
    display: none;
  }

@media screen and (max-width: 950px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu{
    max-height: 100%;
  }
}


.navbar-custom {
  background-color: #004070;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/*cards show subject css*/
.subject-wrapper{
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.subject-card {
  box-shadow: 0 1px 1rem -4px #000;
  border-radius: 6px;
  min-width: 28rem;
  display: flex;
}

@media screen and (min-width: 765px) {
  .subject-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
  .subject-card {
    flex-direction: column;
    min-width: 14rem;
  }
}

/* card login && card add subject*/
.big-card-wrapper {
  margin: 2rem;
  justify-content: center;
  display: flex;
}
.big-card{
  box-shadow: 0 1px 1rem -4px #000;
  border-radius: 6px;
  max-width: 30rem;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .big-card {
    min-width: 30rem;
  }
}

.link-btn {
  margin: 0.2rem;
}

.container {
  width: 90%;
  margin: auto;
}

.small-cards-container {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #eee;
  padding: 1rem;
  box-shadow: 0 0 1rem #000 inset;
  position: relative;
  overflow: auto;
  height: 350px;
  width: 275px;
}

.small-cards-slider {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #eee;
  padding: 1rem;
  box-shadow: 0 0 1rem #000 inset;
  position: relative;
  overflow: auto;
}

.campus-ul {
  padding-left: 0em;
}

.campus-li {
  list-style: none;
  text-align: left;
}

.small-card {
  flex: 1 0 250px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 1rem;
  overflow: auto;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.subj-details-title{
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.subj-details-title-div{
  margin: 1rem;
}

.subj-details-body-div{
  padding:1rem;
  margin:auto;
  text-align: justify;

}

.center-content {
    display:flex;
    justify-content:center;
}

.judge-subjects-btn {
  margin-top: 5px;
  align-self: stretch;
}

.BoostStudentView{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 625px) {
  .container {
    width: 100%
  }

  .cards-container {
    display: flex;
    padding: .5rem;
    overflow: auto;
  }

  .card {
    margin: .5rem;
  }
}

