label {
  display: block;
  margin-top: 10px;
}

body {
  margin: 0px;
  heigth: 100%;
}

h1 {
  text-align: center;
}

.card-container.card {
  width: 450px !important;
  padding: 40px 40px;
  background: #fff;
  height: 600px !important;
}

.card {
  background: #fff;
  color: #333;
  display: flex;
  border-radius: 6px;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  box-shadow: 0 1px 1rem -4px #000;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.navbar-custom {
  background-color: #004070;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.link-btn {
  margin: 0.2rem;
}

.container {
  width: 90%;
  margin: auto;
}

.small-cards-container {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #eee;
  padding: 1rem;
  box-shadow: 0 0 1rem #000 inset;
  position: relative;
  overflow: auto;
  height: 350px;
  width: 275px;
}

.small-cards-slider {
  display: flex;
  border-radius: 6px;
  color: #333;
  background: #eee;
  padding: 1rem;
  box-shadow: 0 0 1rem #000 inset;
  position: relative;
  overflow: auto;
}

.campus-li {
  float:left;
  list-style-type: none;
  text-align: left;
}

.small-card {
  flex: 1 0 250px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 1rem;
  overflow: auto;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.card-content {
  padding: 1rem;
}

.subj-details-title{
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.subj-details-title-div{
  margin: 1rem;
}

.subj-details-body-div{
  padding:1rem;
  margin:auto;
  text-align: justify;

}

.center-content {
    display:flex;
    justify-content:center;
}

@media screen and (max-width: 625px) {
  .container {
    width: 100%
  }

  .cards-container {
    display: flex;
    padding: .5rem;
    overflow: auto;
  }

  .card {
    margin: .5rem;
  }
}

